<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">
  {{ $image := .Params.image }}
  {{ if $image }}
    <div class="mx-auto mb-6" style="width: 220px; height: 220px; border-radius: 50%; overflow: hidden;">
      {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-100 h-100" "size" "220x220") }}
    </div>
  {{ else if .Params.email }}
    <div class="mx-auto mb-6" style="width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
      <img
        alt="{{ .Title }}"
        height="120"
        width="120"
        src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon"
        style="width: 100%; height: 100%; object-fit: cover;" />
    </div>
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Summary }}
  </p>
  <h5>{{ .Params.designation }}</h5>
  <p>
    <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
  </p>
  <br>
  <p></p>
  <ul class="social-icons">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
